<div class="col-xs-10 col-xs-offset-1 about">
  	<h1>About Splurty</h1>

	<p>
	Splurty was made by <a target="_blank" href="www.github.com/jaysoto21">Jay Soto</a>, who has just embarked on an exciting journey to learn how to code with <a target="_blank" href="www.thefirehoseproject.com">TheFireHoseProject</a>.
	</p>



	<div class="col-xs-12">
		<h2 class="text-center">Jay</h2>
		<br/>
		<p>
			In addition to learning how to code, Jay enjoys playing with his dogs and hanging out with his wife.  When not coding, you can usually find Jay watching his favorite soccer team, Bayern Munich.
		</p>

	</div>

  	<div class="col-xs-12 col-sm-4 col-sm-offset-4" style="padding-top:30px;">
    	<%= image_tag 'bayern.jpg', :class => 'img-responsive' %>
  	</div>

</div>
  
  <br class="clear"/>
  <br/>
  <br/>
  